doctype html
html
    head
        title mitohg
        script(src='/js/bundle.js')
        style
            include /css/kube.min.css
        style
            include /css/font-awesome.min.css
        //script(src='https://maps.googleapis.com/maps/api/js?v=3.exp')
        //script.
        //    var map;
        //    function initialize() {map = new google.maps.Map(document.getElementById('gmap'), {zoom: 8, center: {lat: -34.397, lng: 150.644}})}
        //    google.maps.event.addDomListener(window, 'load', initialize);
        //style
        //    include /css/index.css
    body
        row
            column(cols='1')
            column(cols='10')
                h1(class='title') mitohg
                p.
                    Данный сервис позволяет провести всесторонний анализ митохондриальной ДНК человека.<br/>
                    К основным возможностям программы относятся:<br/>
                ul
                    li Для fasta-файлов: определение гаплогруппы по номенклатуре PhyloTree build 17;
                    li Для sam-файлов: Определение уровня гетероплазмии для каждой нуклеотидной позиции мтДНК по результатам NGS
                    li Для FASTQ-файлов выравнивание коротких прочтений производится при помощи BWA относительно последовательности RSRS
                    li Обработка файлов может занимать продолжительное время.
        row
            column(cols='1')
            column(cols='10')
                h4 Загрузите подходящие FASTA, FASTQ или SAM файлы:
                #dropzone
            //column(cols='4')
            //    h4 Я карта!
            //    div#gmap
        row
            column(cols='1')
            column(cols='4')
                h4 Ваши файлы:
                    span(style="color:white") #
                    a(href="/clear")
                        i(class="fa fa-trash")
                #tasks
            column(cols='6')
                h4 Результат:
                #label
                img#preview(src='/img/blank.png')